.movie-details {
  display: flex;
  justify-content: center;
}

@media screen and (min-device-width: 320px) {
  body {
    background-color: #25283D;
  }

  .movie-details {
    margin-top: 5%;
    display: flex;
    color: aliceblue;
    background-color: #25283D;
  }

  .left-container {
    background-color: black;
    box-shadow:  5px 5px 10px #8F3985,
    -5px -5px 10px #A675A1;
    margin: 0 10px 2em 10px
  } 

  .top-details {
    display: flex;
    justify-content: center;
    padding: 0 6px;
  }

  .movie-poster { 
    width: 7em;
    height: 10em;
    margin-top: 25px;
  } 

  .movie-title {
    font-size: 25px;
    margin: 25px 0 0 0;
  }

  .tagline {
    margin: 5px 0 0 10px;
  }

  .year-details,
  .minutes-details {
    border: 1px solid white;
    padding: 5px;
  }

  .over-view{
    padding: 0 10px;
    margin: 10px 20px 10px 20px;
  }

  .bottom-container {
    display: flex;
    justify-content: space-around;
    width: 18em;
  }

  .budget,
  .revenue,
  .genres {
    border: 1px solid white;
    width: 6em;
    font-size: 14px;
    padding: 20px 14px 15px 7px;
    margin: 0 5px 2em 5px;
  }

  .backdrop {
    display: none;
  }
}

@media screen and (min-width: 321px) {
  .general-info {
    margin-left: 5em;
  }

  .movie-details {
    padding: 0 52px;
  }

  .bottom-container {
    width: 100%;
  }

}

@media screen and (min-width: 750px) {
  .left-container {
    width: 45em;
    margin-left: 25px;
  } 

  .movie-poster {
    width: 12em;
    height: 18em;
  }

  .movie-title {
    margin: 45px 0 0 45px;
  }

  .movie-rating {
    font-size: 20px;
  }

  .year-details,
  .minutes-details {
    font-size: 20px
  }

  .budget,
  .revenue,
  .genres {
    font-size: 15px;
  }
}

@media screen and (min-width: 900px) {
  .left-container {
    width: 45em;
    height: 33.4em;
    margin-right: 0;
  } 
  
  .movie-details {
    padding: 0 40px;
  }
  
  .general-info {
    margin-left: 10px;
  }

  .movie-poster {
    width: 8em;
    height: 11em;
  }
  
  .movie-title {
    font-size: 18px;
    margin: 25px 0 0 0;
  }
  
  .movie-rating {
    font-size: 16px;;
  }
  
  .year-details,
  .minutes-details {
    font-size: 12px
  }
  
  .over-view {
    font-size: 12px;
    margin-left: 28px;
  }
  
  .budget,
  .revenue,
  .genres {
    font-size: 14px;
  }

  .backdrop {
    width: 30em;
    height: 535px;
    opacity:0.4;
    display: inline-block;
    box-shadow:  5px 5px 10px #8F3985,
    -5px -5px 10px #A675A1;
  } 
}

@media screen and (min-width: 1050px) {
  .left-container {
    width: 25em;
  }

  .backdrop {
    width: 48em;
  }
}
 
@media screen and (min-width: 1300px) {
  .left-container {
    width: 27em;
  }

  .backdrop {
    width: 57em;
  }
}

@media screen and (min-width: 1600px) {
  .left-container {
    width: 30em;
  }

  .backdrop {
    width: 65em;
  }
}  
