/* * {
  border: 1px solid red
} */

@media screen and (min-device-width: 320px) {
  body {
    background-color: #25283D;
  }

  .movie-details {
    display: flex;
    color: aliceblue;
    background-color: #25283D;
  }

  .left-container {
    background-color: black;
    box-shadow:  5px 5px 10px #8F3985,
    -5px -5px 10px #A675A1;
  } 

  .top-details {
    display: flex;
    justify-content: center;
    padding: 0 6px;
  }

  .movie-poster { 
    width: 150px;
    height: 200px;
    margin-top: 25px;
  } 

  .movie-title {
    font-size: 25px;
    margin: 25px 0 0 0;
  }

  .tagline {
    margin: 5px 0 0 10px;
  }

  .details-data {
    margin-left: 10px;
  }

  .year-details,
  .minutes-details {
    border: 1px solid white;
    padding: 5px;
  }

  .over-view{
    padding: 0 10px;
    margin-bottom: 10px;
  }

  .bottom-container {
    display: flex;
    justify-content: space-around;
  }

  .budget,
  .revenue,
  .genres {
    border: 1px solid white;
    width: 6em;
    height: 3.5em;
    font-size: 14px;
    padding: 20px 14px 15px 7px;
    margin-top: 0;
  }

  .backdrop {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .left-container {
    width: 45em;
    margin-left: 25px;
  } 

  .movie-poster {
    width: 12em;
    height: 18em;
  }

  .movie-title {
    font-size: 3em;
    margin: 45px 0 0 45px;
  }

  .movie-rating {
    font-size: 25px;;
  }

  .details-data {
    margin-left: 35px;
  }

  .year-details,
  .minutes-details {
    font-size: 20px
  }
  
  .over-view {
    font-size: 25px;
  }

  .budget,
  .revenue,
  .genres {
    font-size: 20px;
  }
}

@media screen and (min-width: 769px) {
  /* TO DO: update with Sass, same size as mobile view */
  .movie-poster {
    width: 150px;
    height: 200px;
  }
  
  .movie-title {
    font-size: 25px;
    margin: 25px 0 0 0;
  }
  
  .movie-rating {
    font-size: 16px;;
  }
  
  .year-details,
  .minutes-details {
    font-size: 12px
  }
  
  .over-view {
    font-size: 15px;
  }
  
  .budget,
  .revenue,
  .genres {
    font-size: 14px;
  }

  .fa-home{
    margin-right: 20em;
  }

  .backdrop {
    width: 100%;
    height: 535px;
    opacity:0.4;
    display: inline-block;
    box-shadow:  5px 5px 10px #8F3985,
    -5px -5px 10px #A675A1;
    margin-right: 25px;
  } 
}