.movies-container {
  padding: 30px 50px 30px 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px 20px;
  justify-content: center;
  align-content: center;
  background-color: #25283D;
}
